/* css for the popup */
body {
	/* font and width of popup */
    font-family: 'Comfortaa', cursive;
    font-size: 11px;
    width: 4in;
}

/* the text at the top */
.top {
    display: block;
    text-align: center;
    font-size: 12px;
  }

/* holder for each tab */
.tabinfo {
    height: 25px;
    /* turns tabinfo into a grid, three columns*/
    display: grid;
    grid-template-columns: 25px 3in 100px;
    align-items: center;
}

/* the name of the tab */
titlediv {
    height: 25px;
    line-height: 25px;
}

/* width of the logo in popup */
.logo {
    width:20px;
    height: 20px;
    padding: 3px 0px;
} 

/* the close and mute buttons */
.buttons-holder{
    /* put the buttons on the right*/
    float: right;
    padding: 5px 10px;
}

/* the x button */
.close {
    width: 10px;
    padding-left: 8px;
}

/* Styling the mute button */
.mute-button {
    color: #20bf6b !important;
    background: #ffffff;
    padding: 3px;
    border: 1px solid #20bf6b !important;
    border-radius: 6px;
    display: inline-block;
}
    
.mute-button:hover {
    color: #12b8ff !important;
    border-radius: 50px;
    border-color: #12b8ff !important;
    transition: all 0.3s ease 0s;
}

.mute-button:focus {
    outline: none;
  }
  
  /* style the horizontal line between the tab info */
hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, rgb(250, 187, 187), rgb(206, 0, 0), rgb(250, 187, 187));
}